<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/navigation.ejs') %>
        <section class="productsbox">
            <div class="container" data-aos="zoom-in">                 
              <div class="text-center">
                <h3>Válogasson kedvére a legmodernebb eszközeink közül!</h3>
              </div>                 
            </div>
    </section>
            <section class="products" >
                <% if (prods.length> 0) { %>
                    <div class="container"  >
                        <div class="row">
                        <% for (let product of prods) { %>
                           
                            
                            <div class="card "  style="width: 20rem;"> 
                                <div>
                                    <h1 class="productTitle">
                                        <%= product.title %>
                                    </h1>
                                </div>
                                <div class="productIMG">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div>
                                    <h2 class="productPrice">
                                        <%= product.price %> Ft
                                    </h2>
                                </div>
                                <div>
                                    <a class="productBTN" href="/products/<%= product.id %>">LEIRÁS</a>
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
            
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </section>

            <%- include('../includes/end.ejs') %>